.footer {
  padding: 160px 0 180px;
  background: $gray-l;

  &__contact-list {
    padding: 20px 0 80px;
    font-size: 0.8rem;
    color: $gray-b;
    list-style: none;
  }

  &__contact-item {
    padding: 8px 0;
  }

  &__contact:hover {
    background: $white;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background: $gray-r;
    font-size: 0;
  }

  &__text {
    display: inline-block;
    position: relative;
  }
}
