.page-loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: $gray-l;
}

.page-loading__item {
  height: 140px;
  width: 140px;
}
