.resume {
  padding-bottom: 240px;

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    display: flex;
    padding-top: 50px;
    flex-basis: 50%;
  }

  &__img-wrp {
    position: relative;
    flex-basis: 55%;
    height: 380px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: 0.2s;
  }

  &__img {
    position: relative;
    height: 100%;
    width: 100%;
    background: $blue;
    transform-style: preserve-3d;
    transition: 0.2s;
  }

  &__icon {
    position: absolute;
    height: 100px;
    width: 100px;
    background: $green;
    top: 80px;
    right: 20px;
    transform: translateZ(50px) scale(0.8);
  }

  &__desc {
    padding: 0 20px;
    flex-basis: 45%;
  }

  &__text--card {
    min-height: 140px;
  }

  &__link-wrp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
  }

  &__link {
    display: inline-block;
    font-weight: 600;
    margin: 8px;
    padding: 12px 0;
    color: $gray-b;
    text-decoration: none;
    transition: 0.2s;

    &::after {
      content: ' \2192';
      opacity: 0;
      transition: 0.2s;
    }

    &:hover {
      letter-spacing: 0.5px;
      text-decoration: underline;

      &::after {
        opacity: 1;
      }
    }
  }
}
