.resume {
  padding-bottom: 240px;

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    display: flex;
    padding-top: 50px;
    flex-basis: 50%;
  }

  &__img-wrp {
    position: relative;
    flex-basis: 45%;
    height: 340px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: 0.2s;
  }

  &__img {
    position: relative;
    height: 100%;
    width: 100%;
    background: $blue;
    transform-style: preserve-3d;
    transition: 0.2s;
  }

  &__desc {
    padding: 0 20px;
    flex-basis: 55%;
  }

  &__text--card {
    padding-bottom: 30px;
  }

  &__link {
    margin: 5px 0;
  }
}
