@keyframes right-appearance {
  0% {
    right: -400px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes downBtn {
  0% {
    padding-top: 0;
  }

  50% {
    padding-top: 30px;
  }

  100% {
    padding-top: 0;
  }
}