$font: 'Montserrat', sans-serif;
$white: rgb(255, 255, 255);
$black: rgb(49, 49, 49);
$gray-l: rgb(242, 242, 242);
$gray-r: rgb(177, 177, 177);
$gray-b: rgb(127, 127, 127);
$green: rgb(11, 183, 171);
$yellow: rgb(249, 176, 11);
$blue: rgb(91, 155, 213);
$violet: rgb(92, 40, 168);
$red: rgb(233, 61, 103);