each entry in list
    li.carousel__item
        .carousel__box
            .carousel__skills
                i.carousel__icon.material-icons=entry.icon
                .carousel__wrp
                    h3.carousel__title.title=entry.title
                    span.carousel__text.text=entry.text