section.cats
    .container
        .cats__icon
            svg(viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg")
                path(d="m101.968 46.673-4.256-4.242c6.06-6.041 6.664-7.822 4.975-14.662-2.238-9.059 6.426-17.587 14.872-21.048a3.009 3.009 0 0 1 4.035 2.059 3.031 3.031 0 0 1 -1.8 3.529c-5.989 2.536-12.581 8.665-11.257 14.025 2.351 9.545.521 13.272-6.569 20.339z" fill="#575f64")
                path(d="m121.55 96.67c.01 11.25-1.5 20.66-3.29 24.83h-13.37c0-4.48 2.44-6.74 6.26-8.67.06-2.82.03-5.51-.07-7.87-.58-8.84-1.287-16.913-19.747-21.793-21.57-4.12-27.643 8.773-26.733 23.733.12 2.41.72 14.6.72 14.6h-13.93a8.285 8.285 0 0 1 4.31-7.56c-1.01-6-2.3-13.78-2.65-16.28-1-6.69-9.1-6.23-10.05-.49-.26 1.57-3.96 24.33-3.96 24.33h-12.15c0-3.87 1.83-6.09 4.79-7.86-2.34-11.96-5.43-35.45 1-55.18 4.63-14.19 42.3-19.6 43.03-19.81 50.9-14.46 45.82 38.26 45.84 58.02z" fill="#2e3235")
                path(d="m114.773 70.257a1.749 1.749 0 0 1 -1.732-1.519c-.84-6.318-2.332-11.467-4.433-15.3a1.75 1.75 0 0 1 3.071-1.681c2.341 4.277 3.922 9.682 4.831 16.525a1.749 1.749 0 0 1 -1.5 1.965 1.835 1.835 0 0 1 -.237.01z" fill="#575f64")
                path(d="m38.079 21.736c-6.114-9.259-21.634-15.236-21.634-15.236-3.645 9.727 2.355 23.205 4.938 27.19z" fill="#2e3235")
                path(d="m53.364 21.736c6.114-9.259 21.636-15.236 21.636-15.236 3.645 9.727-2.351 23.205-4.938 27.19z" fill="#2e3235")
                path(d="m45.722 14.728c-17.144 0-31.041 12.373-31.041 27.635 0 13.285 10.539 21.1 19.335 25.307a27.056 27.056 0 0 0 23.411 0c8.8-4.208 19.335-12.022 19.335-25.307 0-15.263-13.897-27.635-31.04-27.635z" fill="#575f64")
                g(fill="#eaeaf0")
                path(d="m11.209 64.524a1.75 1.75 0 0 1 -.844-3.284l12.305-6.761a1.75 1.75 0 0 1 1.685 3.067l-12.3 6.761a1.74 1.74 0 0 1 -.846.217z")
                path(d="m23.33 50.663a1.8 1.8 0 0 1 -.356-.037l-16.642-3.437a1.75 1.75 0 1 1 .708-3.427l16.642 3.438a1.751 1.751 0 0 1 -.352 3.465z")
                path(d="m80.234 64.524a1.74 1.74 0 0 1 -.841-.217l-12.306-6.761a1.75 1.75 0 1 1 1.686-3.067l12.305 6.761a1.75 1.75 0 0 1 -.844 3.284z")
                path(d="m68.113 50.663a1.751 1.751 0 0 1 -.352-3.465l16.639-3.436a1.75 1.75 0 1 1 .708 3.427l-16.639 3.437a1.809 1.809 0 0 1 -.356.037z")
                path(d="m59.526 37.352a6.67 6.67 0 0 1 -6.854-1.621 6.332 6.332 0 0 1 10.966-4.084 6.64 6.64 0 0 1 -4.112 5.705z")
                path(d="m31.917 37.352a6.67 6.67 0 0 0 6.854-1.621 6.637 6.637 0 0 0 -4.109-5.7 6.677 6.677 0 0 0 -6.857 1.62 6.64 6.64 0 0 0 4.112 5.701z")
                path(d="m50.806 49.5c0 2.063-3.01 5.316-5.089 5.316s-5.08-3.253-5.08-5.325 3-2.175 5.08-2.175 5.089.109 5.089 2.184z")
        h3.cats__title Я подумал, что вам, возможно, хочется узнать несколько интересных фактов о котах.
            br
            | Поэтому я сделал это окно ниже.
            | Просто листайте вниз и в окне будут появлятся новые факты.
            br
            | P.S. Факты только на английском ¯\_(ツ)_/¯
        .cats__facts
            ul.cats__list
            .cats__loader
                svg.placeholder__svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve')
                    path(fill='#666' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50')
                        animatetransform(attributename='transform' attributetype='XML' type='rotate' dur='1s' from='0 50 50' to='360 50 50' repeatcount='indefinite')