section.cite
    q.cite__text
        span.cite__word.cite__word--one(data-speed="1") Самая хорошая работа – это
        span.cite__word.cite__word--two(data-speed="-1") высокооплачиваемое хобби.
    cite.cite__autor Джейсон Стетхем