section.education#education
    .animation
        .container
            h2.education__title.title ОБРАЗОВАНИЕ И КУРСЫ
            ul.education__list
                li.education__item
                    .education__box.education__box--gray
                        p.education__subtitle Bachelor
                            br
                            | Degree
                    p.education__text 2013 – 2017. Taras Shevchenko National University of Kyiv. Bachelor degree in Management.
                li.education__item
                    .education__box.education__box--green
                        p.education__subtitle Manager
                            br
                            | Degree
                    p.education__text 2017 – 2019. Taras Shevchenko National University of Kyiv. Master degree in Management of innovation. Project manager qualification.
                li.education__item
                    .education__box.education__box--yellow
                        p.education__subtitle GoIT
                            br
                            | Full stack
                            br
                            | Courses
                    p.education__text 2019 – 2020. GoIT / Программа подготовки Full stack – разработчиков фокусируется на front-end: HTML/CSS, JavaScript, React.js и back-end: Node.js.