section.education#education
    .container
        h2.education__title.title ОБРАЗОВАНИЕ И КУРСЫ
        ul.education__list
            li.education__item
                .education__box.education__box--gray
                    p.education__subtitle Bachelor
                        br
                        | Degree
                    .education__layer
                p.education__text 2013 – 2017. Киевский национальный университет имени Тараса Шевченко. Бакалавр, специальность - менеджмент.
            li.education__item
                .education__box.education__box--green
                    p.education__subtitle Manager
                        br
                        | Degree
                    .education__layer
                p.education__text 2017 – 2019. Киевский национальный университет имени Тараса Шевченко. Магистр, специальность - менеджмент инновационной деятельности. Квалификация проджект менеджера.
            li.education__item
                .education__box.education__box--yellow
                    p.education__subtitle GoIT
                        br
                        | Full stack
                        br
                        | Courses
                    .education__layer
                p.education__text 2019 – 2020. GoIT / Программа подготовки Full stack – разработчиков, фокусируется на front-end: HTML/CSS, JavaScript, React.js и back-end: Node.js.