section.experiance#experience
    .container
        h2.experiance__title.title МОЙ ОПЫТ РАБОТЫ
        .experiance__img.experiance__img--controlpay
        h3.experiance__company.title
            a.link(href="https://www.controlpay.com/" target='_blank' rel='noopener') 
                span  CONTROLPAY
                span.popup
                    span.popup__title Кликни чтобы перейти
                    span.popup__text Компания 
                        kbd ControlPay
                        br
                        | Сайт откроется в новой вкладке
        p.experiance__text Февраль - Май 2018 г. Компания: 
            a.link(href="https://www.controlpay.com/" target='_blank' rel='noopener') 
                span  ООО «ControlPay Украина»
                span.popup
                    span.popup__title Кликни чтобы перейти
                    span.popup__text Компания 
                        kbd ControlPay
                        br
                        | Сайт откроется в новой вкладке
            | . Должность: Invoice auditor
        h4.experiance__respons.title Обязанности
        ul.experiance__list
            li.experiance__item навигация и использование веб-платформы компании ControlPay и инструментов поддержки клиентов;
            li.experiance__item проверка и анализ инвойсов;
            li.experiance__item аудит транспортных накладных;
            li.experiance__item анализ данных отгрузки грузов;
            li.experiance__item проверка логики расчетов;
            li.experiance__item общение с клиентами (электронная почта / конференц-связь).
        .experiance__img.experiance__img--kpmg
        h3.experiance__company.title
            a.link(href="https://home.kpmg/ua/uk/home.html" target='_blank' rel='noopener') 
                span  KPMG
                span.popup
                    span.popup__title Кликни чтобы перейти
                    span.popup__text Компания 
                        kbd KPMG
                        br
                        | Сайт откроется в новой вкладке
        p.experiance__text Май 2018 г. - Октябрь 2019 г. Компания: 
            a.link(href="https://home.kpmg/ua/uk/home.html" target='_blank' rel='noopener') 
                span  ООО "КПМГ-Украина"
                span.popup
                    span.popup__title Кликни чтобы перейти
                    span.popup__text Компания 
                        kbd KPMG
                        br
                        | Сайт откроется в новой вкладке
            | . Должность: консультант по трансфертному ценообразованию.
        h4.experiance__respons.title Обязанности
        ul.experiance__list
            li.experiance__item анализ внутригрупповых операций, проводимых между украинскими и зарубежными компаниями на предмет трансфертного ценообразования;
            li.experiance__item проведение анализа рынка, на котором функционирует клиент (IT, сельское хозяйство, FMCG и др.);
            li.experiance__item выявление рисков трансфертного ценообразования;
            li.experiance__item работа с базами данных ktMINE, Ruslana, SPARK, TP Catalyst;
            li.experiance__item подготовка документации по трансфертному ценообразованию;
            li.experiance__item структурирование внутригрупповых операций в соответствии с украинским налоговым законодательством и международными принципами трансфертного ценообразования.