header.header#main
    .header__inner
        .header__logo.logo
            a.logo__masseger(href='#')
                img.logo__img(src="" alt="")
            a.logo__main(href="#") Ihor Mykhailychenko
        button.header__burger.btn
    nav.header__nav.nav
        ul.nav__list
            li.nav__item
                a#about1.nav__link(href='#main') Главная
            li.nav__item
                a#about1.nav__link(href='#about') Про меня
            li.nav__item
                a#education1.nav__link(href='#education') Образование
            li.nav__item
                a#experience1.nav__link(href='#experience') Опыт работы
            li.nav__item
                a#skills1.nav__link(href='#skills') Hard skills
            li.nav__item
                a#salary1.nav__link(href='#salary') Зарплата
    .header__desc
        h6.header__emoji &#127881
        h1.header__title АВТОР ЭТОЙ СТРАНИЦИ ИЩЕТ РАБОТУ В IT-КОМПАНИИ
        p.header__text.text
            | На этой странице вы найдёте всю интересующую вас информацию, а также вы сможете задать любой интересующий вас вопрос.
        p.header__text.text
            | Если у вас нету времени читать это всё или вам просто лень, нажмите на стрелку ниже и перейдите в раздел для скачивания резюме.
        a.header__btn(href='#resume')
            i.material-icons arrow_downward
    .header__parallax.parallax1(data-speed="1")
    .header__parallax.parallax2(data-speed="2")
    .header__parallax.parallax3(data-speed="1")
    .header__parallax.parallax4(data-speed="2")