header.header#main
    .header__inner
        .header__logo.logo
            a.scroll-js.logo__masseger(href='#main')
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                    path(d="M256,0C114.624,0,0,106.112,0,237.024c0,74.592,37.216,141.12,95.392,184.576V512l87.168-47.84 c23.264,6.432,47.904,9.92,73.44,9.92c141.376,0,256-106.112,256-237.024S397.376,0,256,0z M281.44,319.2l-65.184-69.536 L89.056,319.2l139.936-148.544l66.784,69.536l125.6-69.536L281.44,319.2z")
            a.scroll-js.logo__main(href='#main') Ihor Mykhailychenko
        button.header__burger.btn
    nav.header__nav.nav
        ul.nav__list
            li.nav__item
                a.scroll-js.nav__link(href='#main') Главная
            li.nav__item
                a.scroll-js.nav__link(href='#about') Про меня
            li.nav__item
                a.scroll-js.nav__link(href='#education') Образование
            li.nav__item
                a.scroll-js.nav__link(href='#experience') Опыт работы
            li.nav__item
                a.scroll-js.nav__link(href='#skills') Hard skills
            li.nav__item
                a.scroll-js.nav__link(href='#salary') Зарплата
    .header__desc
        h6.header__emoji &#127881
        h1.header__title АВТОР ЭТОЙ СТРАНИЦИ ИЩЕТ РАБОТУ В IT-КОМПАНИИ
        p.header__text.text
            | На этой странице вы найдёте всю интересующую вас информацию, а также вы сможете задать любой интересующий вас вопрос.
        p.header__text.text
            | Если у вас нету времени читать это всё или вам просто лень, нажмите на стрелку ниже и перейдите в раздел для скачивания резюме.
        a.scroll-js.header__btn(href='#resume')
            i.material-icons arrow_downward
    .header__parallax.parallax1(data-rellax-speed="-1")
    .header__parallax.parallax2(data-rellax-speed="-4")
    .header__parallax.parallax3(data-rellax-speed="-1")
    .header__parallax.parallax4(data-rellax-speed="-4")