section.resume#resume
    .container
        h2.resume__title.title ЗАГРУЗИТЬ РЕЗЮМЕ
        p.resume__text.text Выберите файл из предложенных ниже вариантов.
        ul.resume__list
            li.resume__item
                .resume__img-wrp
                    i.far.fa-file-pdf
                .resume__desc
                    p.resume__text.resume__text--card.text Это оформленный вариант резюме в PDF формате. Одинаково выглядит на всех устройствах.
                    a.resume__link.link(href="https://github.com/iMykhailychenko/SCSS-PUG/raw/master/resume%20ua.pdf" download)
                        span  Загрузить pdf UA
                        span.popup
                            span.popup__title Кликните чтобы скачать
                            span.popup__text Резюме в pdf формате.
                                br
                                | Украинский язык
                    br
                    a.resume__link.link(href="https://github.com/iMykhailychenko/SCSS-PUG/raw/master/resume%20ru.pdf" download)
                        span  Загрузить pdf RU
                        span.popup
                            span.popup__title Кликните чтобы скачать
                            span.popup__text Резюме в pdf формате.
                                br
                                | Русский язык
                    br
                    a.resume__link.link(href="https://github.com/iMykhailychenko/SCSS-PUG/raw/master/resume%20eng.pdf" download)
                        span  Загрузить pdf EN
                        span.popup
                            span.popup__title Кликните чтобы скачать
                            span.popup__text Резюме в pdf формате.
                                br
                                | Английский язык
            li.resume__item
                .resume__img-wrp
                    i.far.fa-file-word
                .resume__desc
                    p.resume__text.resume__text--card.text Это текстовый вариант резюме в DOC формате, без оформления. На случай если вас интересует только текс.
                    a.resume__link.link(href="https://github.com/iMykhailychenko/SCSS-PUG/raw/master/resume%20ua.docx" download)
                        span  Загрузить doc UA
                        span.popup
                            span.popup__title Кликните чтобы скачать
                            span.popup__text Резюме в doc формате.
                                br
                                | Украинский язык
                    br
                    a.resume__link.link(href="https://github.com/iMykhailychenko/SCSS-PUG/raw/master/resume%20ru.docx" download)
                        span  Загрузить doc RU
                        span.popup
                            span.popup__title Кликните чтобы скачать
                            span.popup__text Резюме в doc формате.
                                br
                                | Русский язык
                    br
                    a.resume__link.link(href="https://github.com/iMykhailychenko/SCSS-PUG/raw/master/resume%20eng.docx" download)
                        span  Загрузить doc EN
                        span.popup
                            span.popup__title Кликните чтобы скачать
                            span.popup__text Резюме в doc формате.
                                br
                                | Английский язык