section.resume#resume
    .container
        h2.resume__title.title ЗАГРУЗИТЬ РЕЗЮМЕ
        p.resume__text.text Выберите файл из предложенных ниже вариантов.
        ul.resume__list
            li.resume__item
                .resume__img-wrp
                    .resume__img
                        .resume__icon
                .resume__desc
                    p.resume__text.resume__text--card.text Это оформленный вариант резюме в PDF формате. Одинаково выглядит на всех устройствах.
                    .resume__link-wrp
                        a.resume__link(href="") Загрузить pdf UA
                        a.resume__link(href="") Загрузить pdf RU
                        a.resume__link(href="") Загрузить pdf EN
            li.resume__item
                .resume__img-wrp
                    .resume__img
                        .resume__icon
                .resume__desc
                    p.resume__text.resume__text--card.text Это текстовый вариант резюме в DOC формате, без оформления. На случай если вас интересует только текс.
                    .resume__link-wrp
                        a.resume__link(href="") Загрузить doc UA
                        a.resume__link(href="") Загрузить doc RU
                        a.resume__link(href="") Загрузить doc EN