section.salary#salary
    .container
        h2.salary__title.title ОЖИДАЕМАЯ ЗАРПЛАТА
        p.salary__text.text В соответствии с последними данными сайта DOU, Junior Software Engineer, который знает язык программирования JavaScript, зарабатывает в среднем 700$ в месяц. Беря меня на работу сейчас, вы получаете скидку порядка 46% на оплату моего труда, поскольку уже через небольшой период времени мои навыки будут соответствовать рыночным требованиям. Я в свою очередь, кроме старательного и качественного выполнения своей работы, гарантирую вам право первым рассмотреть мою кандидатуру на позицию Junior Software Engineer.
        .salary__inner
            .salary__graph.salary__graph--red
                span.salary__ammount.ammount-dou-js
            .salary__graph.salary__graph--green
                span.salary__ammount.ammount-my-js
                span.salary__popup.hidden Торг уместен :)