section.salary#salary
    .container
        h2.salary__title.title ОЖИДАЕМАЯ ЗАРПЛАТА
        p.salary__text.text В соответствии с последними данными сайта DOU, Junior Software Engineer, который знает язык программирования JavaScript, зарабатывает от 450$ до 700$ в месяц. 
            | Объективная реальность такова, что приезжему человеку прожить в Киеве на зарплату меньше 600$ практически невозможно, так как кроме удовлетворения своих первичных потребностей, нужно платить деньги ещё и за аренду жилья. 
        p.salary__text.text Поэтому, несмотря на то, что программирование для меня почти как хобби, я не смогу проживать в Киеве на протяжении долгого времени получая зарплату меньше 600$. 
            | В свою очередь, за эти деньги я готов максимально быстро погрузиться в работу, выкладываться на 110%, постоянно изучать что-то новое и помогать вашей компании расти. 
        .salary__inner
            .salary__graph.salary__graph--red
                span.salary__ammount.ammount-dou-js
            .salary__graph.salary__graph--green
                span.salary__ammount.ammount-my-js
                span.salary__popup.hidden Торг уместен :)