section.salary#salary
    .animation
        .container
            h2.salary__title.title ОЖИДАЕМАЯ ЗАРПЛАТА
            p.salary__text.text В соответствии с последними данными сайта DOU, Junior Software Engineer, который знает язык программирования JavaScript, зарабатывает в среднем 700$ в месяц. Беря меня на работу сейчас, вы получаете скидку порядка 46% на оплату моего труда, поскольку уже через небольшой период времени мои навыки будут соответствовать рыночным требованиям. Я в свою очередь, кроме старательного и качественного выполнения своей работы, гарантирую вам право первым рассмотреть мою кандидатуру на позицию Junior Software Engineer.
            .salary__inner
                .salary__item
                    .salary__icon
                    span.salary__ammount $ 700
                    span.salary__ammount.salary__ammount--small 00
                .salary__item
                    .salary__icon
                    span.salary__ammount $ 489
                    span.salary__ammount.salary__ammount--small 99