section.skills#skills
    .skills__inner
        .container
            h2.skills__title.title HARD SKILLS
            p.text В данном разделе я укажу основные навыки и знания, которыми я овладел при прохождении курсов 
                a.link(href="https://goit.ua/" target='_blank' rel='noopener') 
                        span  GoIT
                        span.popup
                            span.popup__title Кликните чтобы перейти на сайт
                            span.popup__text Это ссылка на сайт 
                                kbd goit.ua
                                br
                                | Сайт откроется в новой вкладке
                |, а также те, что я освоил самостоятельно. Все указанные навыки базируются на основании выполненных практических заданий и частично представлены на этом сайте.
            p.text Для удобства и экономии времени я отметил лишь ключевые, по моему мнению, навыки. 
                a.link(href="https://docs.google.com/document/d/1UmmB3chg5LEREUxg7knORxM85mfP1RB2CwhA5_ghgug/edit?usp=sharing" target="_blank" rel="noopener")  
                    span  Полный список смотрите по этой ссылке &#129042;
                    span.popup
                        span.popup__title Кликните чтобы открыть сайт
                        span.popup__text Это ссылка на google документ
                            br
                            | Ссылка откроется в новой вкладке
        .skills__carousel.carousel
            ul.carousel__list

            .carousel__btn-wrp.container
                button.carousel__btn.carousel__back.btn
                    i.material-icons keyboard_arrow_left
                button.carousel__btn.carousel__next.btn
                    i.material-icons keyboard_arrow_right