section.table
    .animation
        .container
            h2.table__title.title ОБЩАЯ ИНФОРМАЦИЯ
            table.table__body(style="border-collapse: collapse;")
                tr.table__row
                    td.table__cell Имя:
                    td.table__cell Игорь
                tr.table__row
                    td.table__cell Фамилия:
                    td.table__cell Михайличенко
                tr.table__row
                    td.table__cell Дата рождения:
                    td.table__cell 09.12.1995
                tr.table__row
                    td.table__cell Адрес:
                    td.table__cell г. Киев, Оболонь, ул. Приозерная 12А
                tr.table__row
                    td.table__cell Знание языков:
                    td.table__cell Upper Intermediate
                tr.table__row
                    td.table__cell Личные качества:
                    td.table__cell Совмещаю креативность и аналитическое мышление, готов много учиться, ориентируюсь на результат, коммуникабельный, внимательный к деталям, пунктуальный, ответственный. Не имею вредных привычек. Скромный!
                tr.table__row
                    td.table__cell.table__cell--padding
                    td.table__cell.table__cell--padding