section.table
    .container
        h2.table__title.title ОБЩАЯ ИНФОРМАЦИЯ
        table.table__body
            tr.table__row
                td.table__cell.text Имя:
                td.table__cell.text Игорь
            tr.table__row
                td.table__cell.text Фамилия:
                td.table__cell.text Михайличенко
            tr.table__row
                td.table__cell.text Дата рождения:
                td.table__cell.text 09.12.1995
            tr.table__row
                td.table__cell.text Адрес:
                td.table__cell.text г. Киев, Оболонь, ул. Приозерная 12А
            tr.table__row
                td.table__cell.text Знание языков:
                td.table__cell.text Upper Intermediate
            tr.table__row
                td.table__cell.text Личные качества:
                td.table__cell.text Совмещаю креативность и аналитическое мышление, готов много учиться, ориентируюсь на результат, коммуникабельный, внимательный к деталям, пунктуальный, ответственный. Не имею вредных привычек. Скромный!
            tr.table__row
                td.table__cell.table__cell--padding
                td.table__cell.table__cell--padding