<!DOCTYPE html>
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="./img/favicon.png" rel='icon' type='image/png')
    title Ihor Mykhailychenko

  body
    include components/header.pug
    include components/cite.pug
    include components/about.pug
    include components/table.pug
    include components/education.pug
    include components/experiance.pug
    include components/catFacts.pug
    include components/skills.pug
    include components/salary.pug
    include components/resume.pug
    include components/to-top.pug
    include components/footer.pug

