
.parallax1 {
  background: url('../img/control_pay.jpg');
}

.parallax2 {
  background: url('../img/control_pay.jpg');
}

.parallax3 {
  background: url('../img/control_pay.jpg');
}

.parallax4 {
  background: url('../img/control_pay.jpg');
}

.experiance__img--controlpay {
  background: url('../img/control_pay.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}

.experiance__img--kpmg {
  background: url('../img/kpmg.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}
