
.parallax1 {
  background: url('../img/parallax_1.png')no-repeat;
  background-size: contain;
}

.parallax2 {
  background: url('../img/parallax_2.png')no-repeat;
  background-size: contain;
}

.parallax3 {
  background: url('../img/parallax_3.png')no-repeat;
  background-size: contain;
}

.parallax4 {
  background: url('../img/parallax_4.png')no-repeat;
  background-size: contain;
}

.experiance__img--controlpay {
  background: url('../img/control_pay.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}

.experiance__img--kpmg {
  background: url('../img/kpmg.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
}
